<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product-Name</title>
    <link rel="stylesheet" href="/Joshi.css">
</head>

<body>
    <div id="wrapper">
        <div class="orderbg">
            <h5 class="orderh">Orders</h5>
            <div class="allorder">
                <section>
                    <h1>Product</h1>
                    <h1>Quantity</h1>
                    <h1>Buyer Info</h1>
                    <h1>Platform</h1>
                </section>
                <div class="loworder">
                    <%for(p of fp){%>
                    <div>
                        <h5><%=p.product_id%></h5>
                    <h5><%=p.quantity%></h5>
                    <h5><%=p.buyername%> <br> <%=p.buyeraddress%></h5>
                    <h5><%=p.website%></h5>
                </div>
                    <%}%>
                    
                    
                </div>
            </div>
        </div>
        </div>
        

</body>

</html>